  <app-navbar></app-navbar>
  <div class="grid  text-center">
    <div class="row">
      <div class="col" *ngFor="let day of daysOfWeek; let i = index">
        <div class="col">
          {{day}}
        </div>
        <div *ngFor="let session of trainingSessions[i]">
          <div class="col btn btn-secondary mb-1" (click)="selectSession(session.id)">
            {{session.startTime.slice(0, 2)}}:{{session.startTime.slice(2, 4)}}
          </div>
        </div>
      </div>
    </div>
</div>