

<form [formGroup]="authForm" (ngSubmit)="signIn()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="inputPassword5" class="form-label">Email address</label>
        <input formControlName="password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
