<app-navbar></app-navbar>
<button class="btn btn-sm btn-outline-secondary" (click)="goBack()">
    Atrás
   </button>
<div class="container mb-4" *ngIf="student">
    <hr>
    <div class="pt-2 pb-2">
        <h2 class="text-center">Realizar Pago de <span >{{ student.firstName }}</span></h2>
        <h5 class="text-center">Mensualidad: <span >{{ student.monthly_payment }}</span></h5>
        <h5 class="text-center">Deuda: <span >{{ student.debt_str }}</span></h5>
        <h5 *ngIf="student.debt < 0" class="text-center">Saldo a favor: <span >{{ -student.debt_str }}</span></h5>
    </div>
    <hr>
    <form [formGroup]="paymentForm" (ngSubmit)="submitPaymentData()">   
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Monto<span class="text-danger fs-5">*</span></span>
            <input type="text" class="form-control" formControlName="amount">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Nota</span>
            <textarea class="form-control" formControlName="comment"></textarea>
        </div>
    </form>           
    <div class="form-group text-center">
        <div class="container mt-4 text-center">
            <button type="reset" class="btn btn-secondary"(click)="ResetForm()">Limpiar</button>
        </div> 
        <div class="container mt-2 text-center">
            <button type="submit " class="btn btn-success"(click)="submitPaymentData()">Realizar Pago</button>
        </div>
    </div>