<app-navbar></app-navbar>
<div class="container mb-4" *ngIf="student">
  <hr>
  <div class="text-center">
    <div class="btn  position-relative">
      <span>
        <span class="h2">Perfil de {{ student.firstName }}</span>
        <span *ngIf="student.is_enrolled" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
          inscrito
        </span>
      </span>
    </div>
  </div>
  <hr>
    <div class="row mb-2 ">
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button *ngIf="!student.is_enrolled" type="button" routerLink="/enroll-student/{{student.$id}}" class="btn btn-danger">Inscribir</button>
        <button *ngIf="student.is_enrolled" type="button" class="btn btn-danger" (click)="withdrawStudent()">Anular Inscripción</button>
        <button type="button" routerLink="/edit-student/{{ student.$id }}" class="btn btn-secondary">Editar</button>
        <button *ngIf="student.is_enrolled" type="button" routerLink="/make-payment/{{ student.$id }}" class="btn btn-success">Realizar Pago</button>
      </div>
    </div>
    <hr>
    <div class="input-group" *ngFor="let field of fields" >
      <span class="input-group-text" [style.width]="'170px'">{{field.label}}</span>
      <div type="text" aria-label="First name" class="form-control">{{student[field.value]}}</div>
    </div>
    <div class="input-group" *ngFor="let contact of student.contacts" >
      <span class="input-group-text" [style.width]="'170px'">{{contact.name}}</span>
      <div type="text" class="form-control">{{contact.phone}}</div>
    </div>
        
    <div *ngIf="student.is_enrolled">
      <div class="input-group" *ngFor="let field of fieldEnrolled" >
        <span class="input-group-text" [style.width]="'170px'">{{field.label}}</span>
        <div type="text" aria-label="First name" class="form-control">{{student[field.value]}}</div>
      </div>
    </div>

    <div *ngIf="student.is_enrolled">
      <div class="pt-2 pb-2 mb-2 mt-2">
        <h2 class="text-center">Horarios</h2>
      </div>
      <div class="input-group" *ngFor="let session of trainingSessions" >
        <span class="input-group-text" [style.width]="'170px'">{{session.dayOfWeek}}</span>
        <div type="text" aria-label="First name" class="form-control">
          <a routerLink="/session/{{ session.id }}">
            {{session.startTime.slice(0, 2)}}:{{session.startTime.slice(2, 4)}} -
            {{session.endTime.slice(0, 2)}}:{{session.endTime.slice(2, 4)}}
          </a>
        </div>
      </div><div class="pt-2 pb-2 mb-2 mt-2">
        <h2 class="text-center">Asistencias</h2>
      </div>
      <div class="table-responsive">
        <table
          class="table table-striped table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
        >
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Día</th>
              <th scope="col">Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let attendance of attendances
                  | paginate: { itemsPerPage: 6, currentPage: p };
                let i = index
              "
            >
              <td>{{ attendance.date }}</td>
              <td>{{ attendance.dayOfWeek }}</td>
              <td>
                <a routerLink="/session/{{ attendance.training_session_id }}/{{attendance.date}}">
                  {{attendance.startTime.slice(0, 2)}}:{{attendance.startTime.slice(2, 4)}} -
                  {{attendance.endTime.slice(0, 2)}}:{{attendance.endTime.slice(2, 4)}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event" 
      [previousLabel]="'Anterior'"
      [nextLabel]="'Siguiente'"></pagination-controls>
    </div>
    <hr>
      <div class="row mb-2 ">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" routerLink="/generate-document/{{ student.$id }}" class="btn btn-secondary">Generar Documento de Deslinde de Responsabilidades</button>
        </div>
      </div>
      <hr>
    
</div>