<app-navbar></app-navbar>
<button class="btn btn-sm btn-outline-secondary" (click)="goBack()">
    Atrás
   </button>
   
<div class="container mb-4" *ngIf="student">
    <hr>
    <div class="text-center">
      <div class="btn  position-relative">
        <span>
          <span class="h2">Generar Deslinde de Responsabilidades de {{ student.firstName }}</span>
        </span>
      </div>
    </div>
    <hr>
    <!-- Formulario -->
    <form [formGroup]="form">
        <div class="form-group">
            <label for="completeName">Nombre Completo:</label>
            <input type="text" class="form-control" id="completeName" formControlName="completeName">
        </div>

        <div class="form-group">
            <label for="CI">C.I.:</label>
            <input type="text" class="form-control" id="CI" formControlName="CI">
        </div>

        <div class="form-group">
            <label for="birthdate">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="birthdate" formControlName="birthdate">
        </div>

        <div class="form-group">
            <label for="birthplace">Lugar de Nacimiento:</label>
            <input type="text" class="form-control" id="birthplace" formControlName="birthplace">
        </div>

        <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; let i = index">
              <div [formGroupName]="i" class="input-group">
                <span class="input-group-text" [style.width]="'90px'">Teléfono</span>
                <input class="form-control" type="text" formControlName="name" placeholder="Etiqueta">
                <input class="form-control" type="number" formControlName="phone" placeholder="Número">
                <button class="btn border-secondary-subtle text-danger" (click)="removeContact(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg>
                </button>
              </div>
            </div>
        </div>
        <div class="container">
            <button type="button" class="btn border-dark-subtle " (click)="addNewContactField()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
        </div>

        <!-- Sección de autorización para menores -->
        <div *ngIf="minorAuthorization">
            <h5>Autorización para Menores de Edad</h5>
            <div class="form-group">
                <label for="guardianName">Yo (nombre del tutor):</label>
                <input type="text" class="form-control" id="guardianName" formControlName="guardianName">
            </div>

            <div class="form-group">
                <label for="guardianCI">C.I. del Tutor:</label>
                <input type="text" class="form-control" id="guardianCI" formControlName="guardianCI">
            </div>

            <!-- ... puedes seguir agregando los demás campos aquí ... -->

            <div class="form-group">
                <label for="ciNumber">Parentezco:</label>
                <input type="text" class="form-control" id="ciNumber" formControlName="relationship">
            </div>
        </div>

        <!-- Checkbox para mostrar/ocultar la sección de autorización para menores -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="toggleMinorAuthorization()">
            <label class="form-check-label" for="flexCheckDefault">
                Autorización para Menores de Edad
            </label>
        </div>

        <div class="mt-4">
            <button (click)="generateDoc()" class="btn btn-primary">Generar y Descargar</button>
        </div>
    </form>
</div>