<app-navbar></app-navbar>
<button class="btn btn-sm btn-outline-secondary" (click)="goBack()">
    Atrás
   </button>
<div class="container mb-4">
    <hr>
    <div class="pt-2 pb-2">
        <h2 class="text-center">Registrar Estudiante</h2>
    </div>
    <hr>
    <form [formGroup]="studentForm" (ngSubmit)="submitStudentData()">   
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Nombre<span class="text-danger fs-5">*</span></span>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Segundo nombre</span>
            <input type="text" class="form-control"  formControlName="middleName">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Ap. paterno<span class="text-danger fs-5">*</span></span>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Ap. materno</span>
            <input type="text" class="form-control" formControlName="secondLastName">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Correo</span>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">Fecha Nacimiento<span class="text-danger fs-5">*</span></span>
            <input type="date" class="form-control" formControlName="birthdate">
        </div>
        <div class="input-group">
            <label class="input-group-text" for="inputSessions"  [style.width]="'170px'">Sexo<span class="text-danger fs-5">*</span></label>
            <select class="form-control" id="inputSessions" formControlName="gender" >
                <option value="m" >Masculino</option>
                <option value="f" selected>Femenino</option>
                <option value="o">Otro</option>
            </select>
        </div>
        <div class="input-group">
            <label class="input-group-text" for="inputSessions"  [style.width]="'170px'">Grado<span class="text-danger fs-5">*</span></label>
            <select formControlName="grade" class="form-select" formControlName="grade">
                <option value="Blanco">Blanco</option>
                <option value="Blanco-Amarillo">Blanco-Amarillo</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Amarillo-Verde">Amarillo-Verde</option>
                <option value="Verde">Verde</option>
                <option value="Verde-Azul">Verde-Azul</option>
                <option value="Azul">Azul</option>
                <option value="Azul-Rojo">Azul-Rojo</option>
                <option value="Rojo">Rojo</option>
                <option value="Rojo-Negro">Rojo-Negro</option>
                <option value="1º DAN">1º DAN</option>
                <option value="2º DAN">2º DAN</option>
                <option value="3º DAN">3º DAN</option>
                <option value="4º DAN">4º DAN</option>
                <option value="5º DAN">5º DAN</option>
                <option value="6º DAN">6º DAN</option>
                <option value="7º DAN">7º DAN</option>
                <option value="8º DAN">8º DAN</option>
                <option value="9º DAN">9º DAN</option>
                <option value="10º DAN">10º DAN</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-text" [style.width]="'170px'">CI</span>
            <input type="text" class="form-control" formControlName="CI">
        </div>
    </form>           
    <div class="form-group text-center">
        <div class="container mt-4 text-center">
            <button type="reset" class="btn btn-secondary"(click)="ResetForm()">Limpiar</button>
        </div> 
        <div class="container mt-2 text-center">
            <button type="submit " class="btn btn-success"(click)="submitStudentData()">Registrar</button>
        </div>
    </div>